{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/users">Users <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/home/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout">
      <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>
    </form>
  </div>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}